# build output
dist
.serverless
.ncc_entry
.zip

# Editors
**/.idea
**/.vscode

# dependencies
node_modules
package-lock.json

# logs & pids
*.log
logs
pids
*.cpuprofile

# coverage
.nyc_output
coverage

# Cache
*.tsbuildinfo
.DS_*

# Third party files
.aliyun_credentials
