# build output
dist
.serverless
.ncc_entry
.zip
serverless.zip
.swc
build

# Editors
**/.idea
**/.vscode

# dependencies
node_modules
package-lock.json
pnpm-lock.yaml

# logs & pids
*.log
logs
pids
*.cpuprofile

# coverage
.nyc_output
coverage

# Cache
*.tsbuildinfo
.DS_*

# Third party files
.aliyun_credentials

# prisma
*.db
prisma/migrations
