node_modules
*.log
*.log.*
logs
.vscode
dest
dist
coverage
.idea
package-lock.json
.DS_*
.nyc*
!**/fixtures/app/node_modules/hello/*
run/
package-lock.json
.nodejs-cache
AUTHORS
.serverless
.midway
.ncc_entry
.zip
.aliyun_credentials
.env_temp
serverless.zip
.faas_debug_tmp
*.tsbuildinfo
lib
.serverless
code.zip
build
eagleeye
sandbox
!**/tests/**/dist
!**/tests/**/build
